  /* .App {
    text-align: center;
  } */


a {
  padding: 10px;
  margin-left:  20px;
  text-decoration: none;
  border: black;
  font-weight: bold;
  box-shadow: inset 0 0 3px;
  border-radius: 3px;
  background-color: #c9d2e0;
  text-shadow: 0 0 11px #fff;
}

a:link, a:visited {
  color: black;

}

a:hover {
  box-shadow: 0 0 3px;
}

a:active {
  box-shadow: inset 0 0 7px;
}

input {
  line-height: 2em;
  margin-left: 20px;
}

.movieBox {
  display: flex;
  flex-direction: column;
}

.movieBox a {
  background-color: #fff;
  box-shadow: none;
  margin-left: -10px;
  text-align: center;
  padding-bottom: 20px;
    font-size: 24px;
}

.movieBox a:hover {
  text-decoration: underline; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul > li {
  display: inline-block;
  text-decoration:  none;
  margin-right: 30px;
}

